<header>
  <h1>Beauty &amp; Home </h1>
  <p class="slogan">La tua fragranza, la tua eleganza.</p>
</header>
<main>
  <div class="info-text">
    <p>Contattaci, saremo lieti di aiutarti!</p>
  </div>
  <div class="info-text">
    <div class="social-info">
      <p>WhatsApp: +39 353 369 2178</p>
      <img class="social-icon" src="https://ricambiplus.github.io/home/1logowhatsapp.png" alt="WhatsApp">
    </div>
    <div class="social-info">
      <p>Instagram: beauty_and_home_lover</p>
      <img class="social-icon" src="https://beautyandhomelover.github.io/home/1instagram-icon.png" alt="Instagram">
    </div>
    <div class="social-info">
      <p>Email: beauty.homelover@gmail.com</p>
      <img class="social-icon" src="https://beautyandhomelover.github.io/home/1email-icon.png" alt="Email">
    </div>
    <img src="https://beautyandhomelover.github.io/home/1offerta-natalizia.jpg" alt="Profumo elegante">
  </div>
</main>
