.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: white;
  height: 100px;
}

.links {
  display: flex;
  gap: 8px;
  // height: fit-content;
}

.link {
  color: #92567c;
  font-size: small;
  font-family: monospace;
  cursor: pointer;
  border: 3px solid;
  border-radius: 20px;
  padding: 7px;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart {
  cursor: pointer;
}
