<div class="container">
  <div>
    <img height="60" src="https://i.postimg.cc/d0NpWF1Y/logo.jpg" />
  </div>
  <div class="navbar-items">
    <div class="links">
      <div class="link" (click)="redirect('/catalog')">Catalogo</div>
      <div class="link" (click)="redirect('/contacts')">Contatti</div>
    </div>
  </div>
  <div class="cart">
    <img
    height="50"
      src="https://i.postimg.cc/5yFSQr8c/dbdc64a6-db30-47c5-bc9f-d95e4184faf2.png"
      (click)="redirect('/cart')"
    />
  </div>
  <!-- <img 
  height="60"
  src="https://i.postimg.cc/d0NpWF1Y/logo.jpg" /> -->
</div>
